:root
{
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0;
}

#root
{
	position: relative;
	display: grid;
	grid-template-areas: "header header"
							"aside main";
	grid-template-columns: 20dvw 1fr;
	grid-template-rows: auto 1fr;
	max-height: 100dvh;
	height: 100dvh;
	overflow: hidden;
}

#loader
{
	grid-row: header / aside;
	grid-column: header / main;
}